<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/form-model}" method="post" th:object="${user}">

		<div>
			<label for="id">id</label>
			<div>
				<input type="text" id="id" th:field="*{id}">
			</div>
			<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
		</div>

		<div>
			<label for="name">Name</label>
			<div>
				<input type="text" id="name" th:field="*{name}">
			</div>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
		</div>

		<div>
			<label for="firstName">firstName</label>
			<div>
				<input type="text" id="firstName" th:field="*{firstName}">
			</div>
			<div th:if="${#fields.hasErrors('firstName')}"
				th:errors="*{firstName}"></div>
		</div>


		<div>
			<label for="username">User name</label>
			<div>
				<!-- Replace name and value  th:field="*{}" mapping-->
				<input type="text" id="username" th:field="*{username}">
			</div>
			<!--  
			<div th:if="${error != null && error.containsKey('username')}"
				th:text="${error.username}"></div>			
			 -->
			<!-- Use # when use object helper th -->
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		<div>
			<label for="password">password</label>
			<div>
				<!-- <input type="password" name="password" id="password" th:value="${user.password}"> -->
				<input type="password" id="password" th:field="*{password}">
			</div>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>
		<div>
			<label for="email">email</label>
			<div>
				<input type="text" id="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>

		<div>
			<input type="submit" value="Send">
		</div>
	</form>
</body>
</html>