<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Formulario</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class="py-5 text-center">
			<h2>Form</h2>
			<p class="lead">Formulario usando Spring MVC con databinding y
				thymeleaf .</p>
		</div>

		<form th:action="@{/form-model}" method="post" th:object="${user}">


			<!-- <div>
			<label for="country">País</label>
			<div>
				<select id="country" th:field="*{country}">
				<option value="">Selecionar país</option>
					<option th:each="country: ${countries}" th:text="${country}" th:value="${country}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
		</div> -->

			<!-- <div>
			<label for="country">País</label>
			<div>
				<select id="country" th:field="*{country}">
				<option value="">Selecionar país</option>
					<option th:each="country: ${mapCountries.entrySet()}" th:text="${country.value}" th:value="${country.key}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
		</div> -->
			<div class="form-group row">
				<label for="id" class="col-form-label col-md-2">ID</label>
				<div class="col-md-10">
					<input type="text" id="id" th:field="*{id}" class="form-control">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
				class="alert alert-danger"></div>

			<div class="form-group row">
				<label for="name" class="col-form-label col-md-2">Name</label>
				<div class="col-md-10">
					<input type="text" id="name" th:field="*{name}"
						class="form-control">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
				class="alert alert-danger"></div>

			<div class="form-group row">
				<label for="firstName" class="col-form-label col-md-2">
					First name</label>
				<div class="col-md-10">
					<input type="text" id="firstName" th:field="*{firstName}"
						class="form-control">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('firstName')}"
				th:errors="*{firstName}" class="alert alert-danger"></div>


			<div class="form-group row">
				<label for="username" class="col-form-label col-md-2">User
					name</label>
				<div class="col-md-10">
					<!-- Replace name and value  th:field="*{}" mapping-->
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
				</div>
				<!--  
			<div th:if="${error != null && error.containsKey('username')}"
				th:text="${error.username}"></div>			
			 -->
				<!-- Use # when use object helper th -->
			</div>
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
				class="alert alert-danger"></div>
			<div class="form-group row">
				<label for="password" class="col-form-label col-md-2">Password</label>
				<div class="col-md-10">
					<!-- <input type="password" name="password" id="password" th:value="${user.password}"> -->
					<input type="password" id="password" th:field="*{password}"
						class="form-control">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
				class="alert alert-danger"></div>
			<div class="form-group row">
				<label for="email" class="col-form-label col-md-2">Email</label>
				<div class="col-md-10">
					<input type="text" id="email" th:field="*{email}"
						class="form-control">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
				class="alert alert-danger"></div>

			<div class="form-group row">
				<label for="count" class="col-form-label col-md-2">Account</label>
				<div class="col-md-10">
					<input type="number" id="count" th:field="*{count}"
						class="form-control">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"
				class="alert alert-danger"></div>

			<div class="form-group row">
				<label for="birthday" class="col-form-label col-md-2">Birth
					date</label>
				<div class="col-md-10">
					<input type="date" id="birthday" th:field="*{birthday}"
						placeholder="yyyy-MM-dd" class="form-control">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"
				class="alert alert-danger"></div>
		

			<div class="form-group row">
				<label class="col-form-label col-md-2">Gender</label>
				<div th:each="gender: ${genders}" class="form-check-inline">
					<input type="radio" th:field="*{gender}" th:value="${gender}"
						class="form-check-input"> <label
						th:for="${#ids.prev('gender')}" th:text="${gender}"
						class="form-check-label"></label>
				</div>
			</div>
			<div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
				class="alert alert-danger"></div>

			<div class="form-group row">
				<label for="country" class="col-form-label col-md-2">Country</label>
				<div class="col-md-10">
					<select id="country " th:field="*{country}" class="form-control">
						<option value="">Selecionar país</option>
						<option th:each="country: ${listCountries}"
							th:text="${country.name}" th:value="${country.id}"></option>
					</select>
				</div>
			</div>
			<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
				class="alert alert-danger"></div>

			<div class="form-group row">
				<label class="col-form-label col-md-2">Roles</label>
				<div class="col-md-10">
					<div th:each="role: ${listRoles}" class="row col-sm-2">
						<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
							th:checked="${#lists.contains(user.roles, role)}"
							class="form-control col-sm-2"> <label
							th:for="${#ids.prev('roles')}" th:text="${role.name}"
							class="col-form-label col-sm-2"></label>
					</div>
				</div>
			</div>
			<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
				class="alert alert-danger"></div>

			<div class="form-group row">
				<label for="habilitar" class="col-form-label col-md-2">Enable</label>
				<div class="form-check-inline">
					<input type="checkbox" id="habilitar" th:field="*{enable}"
						class="form-check-input">
				</div>
			</div>

			<input type="hidden" th:field="*{secretValue}" class="form-control">
				<div>
				<input type="submit" value="Send" class="btn btn-primary btn-block">
			</div>
		</form>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">©2020 Jorge Jacobo</p>
			<ul class="list-inline">
				<li class="list-inline-item"><a
					href="https://github.com/JorgeJy2">JorgeJy2 / GitHub</a></li>
			</ul>
		</footer>
	</div>
</body>
</html>