<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/form-model}" method="post">
		<div>
			<label for="username">User name</label>
			<div>
				<input type="text" name="username" id="username" th:value="${user.username}">
			</div>
			<div th:if="${error != null && error.containsKey('username')}"
				th:text="${error.username}"></div>
		</div>
		<div>
			<label for="password">password</label>
			<div>
				<input type="password" name="password" id="password" th:value="${user.password}">
			</div>
			<div th:if="${error != null && error.containsKey('password')}"
				th:text="${error.password}"></div>
		</div>
		<div>
			<label for="email">email</label>
			<div>
				<input type="email" name="email" id="email" th:value="${user.email}">
			</div>

			<div th:if="${error != null && error.containsKey('email')}"
				th:text="${error.email}"></div>
		</div>

		<div>
			<input type="submit" value="Send">
		</div>
	</form>
</body>
</html>